<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.GET_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.CreateReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.SnareWithoutActionBar">
        </activity>
        <activity
            android:name=".Activities.MembersActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare"></activity>
        <activity
            android:name=".Activities.GroupActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.splashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnareWithoutActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Activities.ReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.PinnedLocationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.ShoutsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.CreateNoteActivity"
            android:exported="false"
            android:theme="@style/Theme.SnareWithoutActionBar" />
        <activity
            android:name=".Activities.BlockedUsersActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.ViewFriendActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.FindFriendActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.FriendsActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.RegistrationContActivity"
            android:exported="false"
            android:theme="@style/Theme.SnareWithoutActionBar" />
        <activity
            android:name=".Activities.NotesActivity"
            android:exported="false"
            android:theme="@style/Theme.Snare" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SnareWithoutActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SnareWithoutActionBar" />

        <receiver
            android:name=".reminders.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationsPkg.PushNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationService.LocationForegroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>